{% extends "base.html.j2" %}
{% block title %}
    Obnovit heslo
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-10">
            <div class="alert alert-info" role="alert" style="font-size: 0.9rem; margin: 1rem 2rem; ">
                Na této stránce můžete obnovit svoje heslo v případě, že jste ho zapomněli. <br>
                Po vyplnění emailové adresy do několika minut obdržíte email s odkazem k vytvoření nového hesla. <br>
                Pokud se vám ani po několika minutách nezobrazí, zkuste se podívat do složky Spam. <br>
                <br>
                Pokud jste se registrovali pomocí účtu Google <i>(například mojejmeno@gmail.com)</i>, nemusíte obnovovat heslo, stačí na <a href="/login">přihlašovací stránce</a> kliknout na <i>Přihlásit pomocí Google</i>.

            </div>
            <form action="/get_new_password" method="post" class="form-group form-control" accept-charset="UTF-8">

                {{ form.csrf_token }}
                {% from "_form_element.html.j2" import render_field %}

                {{ render_field(form.username, class="form-control") }}
                {{ form.submit(class_='btn btn-primary')}}
            </form>
        </div>
    </div>
{% endblock %}

