{% extends "base.html.j2" %}
{% block title %}
    Zapomenuté heslo
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-10">
           <form action="/get_new_password" method="post" class="form-group form-control" accept-charset="UTF-8">

                {{ form.csrf_token }}
                {% from "_form_element.html.j2" import render_field %}

                {{ render_field(form.username, class="form-control") }}
                {{ form.submit(class_='btn btn-primary')}}
            </form>
        </div>
    </div>
{% endblock %}

