{% extends "base.html.j2" %}
{% block title %}
    Nové heslo pro {{ username }}
{% endblock %}

{% block script %}
    {{ stimulus("password-visibility") }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-10">
           <form action="{{ url_for('PasswordRecoveryView:post_token', token=token) }}" method="post" class="form-group form-control" accept-charset="UTF-8">

                {{ form.csrf_token }}
                {% from "macros/_form_element.html.j2" import render_field %}

                {{ form.password.label }}
                <div class="form-group" data-controller="see-password" data-see-password-target="passwordDiv">
                    {{ render_field(form.password, has_label=False) }}
                </div>

                {# {{ render_field(form.recaptcha) }} #}
                {{ form.submit(class_='btn btn-primary') }}
            </form>
        </div>
    </div>
{% endblock %}

