{% extends "base.html.j2" %}
{% block title %}
    Nové heslo pro {{ username }}
{% endblock %}

{% block script %}
    {% include 'javascript/toggle_visibility.js' %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-10">
           <form action="{{ url_for('PasswordRecoveryView:post_token', token=token) }}" method="post" class="form-group form-control" accept-charset="UTF-8">

                {{ form.csrf_token }}
                {% from "_form_element.html.j2" import render_field %}

                {{ form.password.label }}
                <div class="form-group" data-controller="password-visibility" data-target="password-visibility.password">
                    {{ render_field(form.password, class="form-control", label=False)}}
                </div>

                {# {{ render_field(form.recaptcha) }} #}
                {{ form.submit(class_='btn btn-primary')}}
            </form>
        </div>
    </div>
{% endblock %}

