{% extends "base.html.j2" %}
{% block title %}
    Registrace
{% endblock %}

{% block script %}
    {% include 'javascript/stimulus.js.html' %}
    {% include 'javascript/password_visibility_controller.js.html' %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-10">
           <form action="{{ url_for('RegisterView:post') }}" method="post" class="form-group form-control" accept-charset="UTF-8">
{#                 <div class="mx-auto" style="width: 200px;">
                    <a href="{{ url_for('google.login') }}" >
                        <button type="button" class="btn btn-social btn-google">
                            <span class="fab fa-google"></span> {{ texts.register_google }}
                        </button>
                    </a>
                    <p class="text-left" style="color:grey;">nebo</p>
                </div> #}
                
                {# <hr class="col-xs-12"> #}

                {{ form.csrf_token }}
                {% from "macros/_form_element.html.j2" import render_field %}

                {{ render_field(form.username, placeholder="např. moje.jmeno@seznam.cz") }}
                {{ form.password.label }}
                <div class="form-group" data-controller="password-visibility" data-password-visibility-target="password">
                    {{ render_field(form.password, has_label=False, placeholder="***") }}
                </div>

                <div class="form-row">
                    <div class="col">
                        {{ render_field(form.first_name) }}
                    </div>
                    
                    <div class="col">
                        {{ render_field(form.last_name) }}
                    </div>
                </div>
                {# {{ render_field(form.recaptcha) }} #}
                {{ form.submit(class_='btn btn-primary') }}

                <a class="col-sm-2" href="{{ url_for('LoginView:show') }}">{{ texts.login }}</a><br>
            </form>
        </div>
    </div>
{% endblock %}

