<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div class="footer" style="margin-top: 2rem">
        {% block footer %}Odesláno z aplikace <a href="ketokalkulacka.cz">ketokalkulačka</a>{% endblock %}
    </div>
</body>
</html>
