.idea/
.mypy_cache/
__pycache__/
ketocalc.egg-info/

migrations/

*.sublime-project
*.sublime-workspace


todo/
scripts/
db/
tmp/

*.todo

*.env*
*.flaskenv*
gunicorn_logs/
gunicorn_config.py
local_gunicorn_config.py
