[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
requests = "*"
pdfkit = "*"
numpy = "*"
sympy = "*"
gunicorn = "*"
python-dotenv = "*"
Flask = "*"
Flask-Mail = "*"
Flask-SQLAlchemy = "*"
Flask-Bcrypt = "*"
Flask-Security = "*"
Flask-Login = "*"
Flask-Dance = "*"
Flask-WTF = "*"
WTForms = "*"
PyMySQL = "*"
Flask-Migrate = "*"
Unidecode = "*"
flask-classful = "*"
simplejson = "*"
email-validator = "*"
flask-caching = "*"
sentry-sdk = {extras = ["flask"],version = "*"}
boto3 = "*"
pillow = "*"
flask-charts = "*"

[dev-packages]
pytest = "*"
pytest-flask = "*"

[requires]
python_version = "3.9"
