Flask

Flask-Mail
Flask-SQLAlchemy
Flask-Bcrypt
Flask-Security

Flask-Login
Flask-Dance

Flask-WTF
WTForms

requests

mysqlclient

PyMySQL
Flask-Migrate

pdfkit

numpy

sympy

unidecode

pytest

gunicorn

python-dotenv
