Flask==0.12.2
Jinja2==2.10
MarkupSafe==1.0
Werkzeug==0.14.1
click==6.7
itsdangerous==0.24

Flask-Mail==0.9.1
blinker==1.4

mysqlclient==1.3.12

PyMySQL==0.8.0

pdfkit==0.6.1

numpy==1.14.0

sympy==1.1.1
mpmath==1.0.0

gunicorn