Flask

Flask-Mail
Flask-SQLAlchemy
Flask-Bcrypt
Flask-Security

Flask-Login
Flask-Dance

Flask-WTF
WTForms

requests

PyMySQL
Flask-Migrate

pdfkit

numpy

sympy

unidecode

pytest
pytest-flask

gunicorn

python-dotenv
