{% extends "base.html.j2" %}
{% block title %}
    admin | all users 	
{% endblock %}

{% block content %}
    <div class="container">
        <div class="admin-field">
            <h1>Uživatelé</h1>
            <details open>
            <summary>Souhrn používání</summary>
            <p>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>email</th>
                    <th>name</th>
                    <th>registered at</th>
                    <th>last login at</th>
                    <th>last activity</th>
                    <th>login count</th>

                    <th>diet count</th>                
                    <th>recipe count</th>
                    <th>ingredient count</th>
                </tr>
                </thead>

                {% for user in users: %}
                <tr>
                    <td>
                        <a href="{{ url_for('UsersView:show_by_id', id=user.id) }}">
                            {{ user.username }}
                        </a>
                    </td>
                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                    <td>{{ user.created }}</td>
                    <td>{{ user.last_logged_in }}</td>
                    <td>{{ user.last_request.url }} | {{ user.last_request.created_at }}</td>
                    <td>{{ user.login_count }}</td>
                    <td>{{ user.diets|length }}</td>
                    <td>{{ user.recipes|length }}</td>
                    <td>{{ user.ingredients|length }}</td>
                </tr>
                {% endfor %}
            </table>
            </p>
            </details>


            <details>
            <summary>Maily</summary>
            <p>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>email</th>
                    <th>name</th>
                    <th>registered at</th>
                    <th>last activity</th>

                    <th>welcome mail sent</th>
                    <th>inactive mail sent</th>
                </tr>
                </thead>

                {% for user in users: %}
                <tr>
                    <td>
                        <a href="{{ url_for('UsersView:show_by_id', id=user.id) }}">
                            {{ user.username }}
                        </a>
                    </td>
                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                    <td>{{ user.created }}</td>
                    <td>{{ user.last_request.url }} | {{ user.last_request.created_at }}</td>

                    <td>
                        {% if user.onboarding_welcome_mail_sent == None %}
                            <a href="{{ url_for('UsersView:send_mail', user_id=user.id, mail_type='onboarding_welcome') }}">send!</a>
                        {% else %}
                            {{ user.onboarding_welcome_mail_sent }}
                        {% endif %}
                    </td>
                    <td>
                        {% if user.onboarding_inactive_mail_sent == None %}
                            <a href="{{ url_for('UsersView:send_mail', user_id=user.id, mail_type='onboarding_welcome') }}">send!</a>
                        {% else %}
                            {{ user.onboarding_inactive_mail_sent }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
            </p>
            </details>
        </div> 
    </div>
{% endblock %}

