{% extends "base.html.j2" %}
{% block title %}
    Uživatel
{% endblock %}

{% block style %}
{% endblock %}

{% block script %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-12">
            <table class="table">
                <tr>
                    <th>{{ texts.user_username}}</th>
                    <th>{{ texts.user_firstname}}</th>
                    <th>{{ texts.user_lastname}}</th>
                </tr>
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                </tr>
             </table>
        </div>

        <div>
            <a href="{{ url_for('UsersView:edit') }}" class="btn btn-secondary">{{ texts.edit }} {{ icons.edit }}</a>
        </div>
    </div>
{% endblock %}

