{% extends "base.html.j2" %}
{% block title %}
    Logging
{% endblock %}

{% block style %}
{% endblock %}

{% block script %}
<style>
    .ERROR{
        background-color: red;
    }

    .WARNING{
        background-color: orange;
    }

    .INFO{
        background-color: white;
    }

    th{
        padding-right:5em
    }
    td {
        padding-right:5em
    }
</style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="main">
            <table class="log_table">
                <tr>
                    <th>Timestamp</th>
                    <th>Level</th>
                    <th>Module</th>
                    <th>Message</th>
                    <th>URL</th>
                    <th>Remote address</th>
                </tr>

                {% for log in logs: %}
                    <tr class="{{ log.level }}">
                        <td>{{ log.timestamp }}</td>
                        <td>{{ log.level }} </td>
                        <td>{{ log.module }}</td>
                        <td>{{ log.msg }}</td>
                        <td>{{ log.url }}</td>
                        <td>{{ log.remote_addr }}</td>
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>
{% endblock %}







