{% extends "base.html.j2" %}
{% block title %}
    Nepodporovaný prohlížeč
{% endblock %}

{% block content %}
    <div class="container font-montserrat text-center">
    	<h1 class="text-uppercase color-blue font-comfortaa-bb">Tento prohlížeč již nepodporujeme.</h1>
        <p>Používáte starý prohlížeč (Internet Explorer). Tento prohlížeč už není kalkulačkou podporován. </p>
        <p>Doporučujeme přejít na modernější, bezpečnější a rychlejší prohlížeč, jako je například:</p>
        <ul class="no-list">
        	<li><img class="icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/Firefox_logo.png/255px-Firefox_logo.png">Mozzila Firefox - stáhnete <a href="https://www.mozilla.org/cs/firefox/new/">zde</a></li>
        	<li><img class="icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Google_Chrome_icon_(September_2014).svg/240px-Google_Chrome_icon_(September_2014).svg.png">Google Chrome - stáhnete <a href="https://www.google.com/intl/cs/chrome/">zde</a></li>
        	<li><img class="icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/Microsoft_Edge_logo_(2015–2019).svg/225px-Microsoft_Edge_logo_(2015–2019).svg.png">Microsoft Edge - stáhnete <a href="https://www.microsoft.com/cs-cz/edge">zde</a></li>
        	{# <li>Opera</li> #}
        </ul>
    </div>
{% endblock %}







