{% extends "base.html.j2" %}

{% block title %}
    Vítejte {{first_name}}
{% endblock %}

{% block script %}
{% endblock %}

{% block content %}
    <div class="container">
        {% include 'dashboard/_onboarding.html.j2' %}

        <div class="row">
            <div class="col-sm-6 col-md-4">
                <h4>Seznam receptů:</h4>
                <ul>
                    {% for recipe in selected_diet.recipes %}
                        <li>
                            <a href="{{ url_for('RecipesView:show', id=recipe.id) }}">{{ recipe.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="form-inline col-sm-6 col-md-3 d-block">
                <h5>Aktuální dieta:</h5>
                <form method="POST" action="{{ url_for('DashboardView:post') }}">
                    <select name="select_diet" class="form-control" onchange="this.form.submit()">
                        {% for diet in diets: %}
                            {% if selected_diet.id == diet.id %}
                                <option value="{{ diet.id }}" selected="selected">{{ diet.name }}</option>
                            {% else %}
                                <option value="{{ diet.id }}">{{ diet.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </form>
            </div>

            <div class="col-sm-12 col-md-4">
                <h3>Dnešní recepty</h3>
                {% include 'dashboard/_daily_plan.html.j2' %}
            </div>
        </div>
    </div>
{% endblock %}
