{% extends "base.html.j2" %}
{% block title %} ketokalkulačka | {% endblock %}

{% block content %}
<div class="row">
    {% include 'dashboard/_onboarding.html.j2' %}

    <div class="col-12">
        <h3 class="text-uppercase font-comfortaa text-center"> dnešní recepty</h3>
        {% include 'dashboard/_daily_plan.html.j2' %}
    </div>
</div>
{% endblock %}
