/* root */
@import "colors.css";

/* icons */
@import "icons.css";

/* images */
img.logo {
  height: 3.1rem;
  width: auto;
  padding: 0px;
  margin-right: 1rem;
}

/* forms */

input{
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}

.form-inline > * {
   margin: 5px 3px;
}

form ul.errors{
    /*padding-left: 0px; */
}

form ul.errors li.warning{
    color: var(--palette-orange);
    font-weight: bold;
}

/* New recipe */

[data-main="true"] {
    background-color: var(--logo-light-green);
}
[data-fixed="true"] {
    background-color: var(--color-grey);
}

div.recipe__wrong{
	color: red;
  text-align: center;
}

.recipe__wrong{
    display: none;
}

.recipe__right{
    display: none;
}

.container__main {
    margin-top: 40px;
}

.recipe__loader {
    display: none;
    border: 16px solid var(--logo-light-grey);
    border-top: 16px solid var(--logo-dark-blue);
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    animation: spin 2s linear infinite;
    margin: 5rem auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* New recipe sliders */

#sliderVal{
    font-weight: bold;
}

.in{
    opacity: .9;
}

/* All diets */

table#diets tr th.diet{
    background-color: var(--logo-light-green);
    margin-right: 0rem;
    padding-right: 0px;
    border-radius: 4px;
}


/* Error */

.error_main{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

/*Flashes*/

div.flashes {
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    position: relative;
    height: 0px;
    background-color: rgba(0, 0, 0, 0);
}

div.flashes ul li{
    list-style-type: none;
    text-align: center; 
    color: #101010;
}

div.flashes ul li.error{
    color: var(--error);
}

div.flashes ul li.success{
    color: var(--success);
}

div.flashes ul li.info{
    color: var(--info);
}

div.flashes ul li.warning{
    color: var(--warning);
}

div.flashes ul li.debug{
    color: var(--debug);
}

/* Footer */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: var(--info);
    font-size: 0.7rem;
    text-align: center;
    opacity: 0.7;
}

.data-source-aknowledgement {
    color: var(--info);
    font-size: 0.8rem;
    text-align: left;
    opacity: 0.9;
}

/* Loader */

@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}

/* Sign in buttons */
/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}

.field-icon {
  float: right;
  margin-left: -6rem;
  margin-right: 2.5rem;
  margin-top: -2rem;
  position: relative;
  z-index: 2;
}

/* other */

.changelog{
    margin: 10px;
}

.admin_field {
  background-color: #FFE766;
  margin-top: 2rem;
  padding: 0.5rem;
  border: solid 0.1rem red;
}

.admin_warning {
  text-align: center;
}

.totals {
    background-color: var(--color-grey);
}

a.info {
  color: var(--color-grey);
}

a.info:hover {
  color: var(--logo-dark-blue);
}

.no-decoration:hover {
  text-decoration: none;
}

.no-list {
  list-style: none
}

.hidden {
  display: none;
}

tr.inactive {
  background-color: var(--inactive-bg);
  color: var(--inactive);
}

tr.inactive a.inactive {
  color: var(--inactive);
}

.dev-badge {
  margin-left: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--logo-light-green);
}

.navbar div.navbar-divider {
  width: 2rem;
}

.btn-float-right{
  float: right;
}