{% extends "base.html.j2" %}
{% block title %}
    {{ texts.recipe_all }}
{% endblock %}

{% block content %}
    <div class="container">
    	<table class="table">
		    <thead>
		    	<th>recept</th>
		    	<th>poměr diety</th>
		    	<th>autor*ka</th>
		    </thead>
		    <tbody>
		    {% for recipe in recipes: %}
			    <tr>
			        <td>
			        	<a href="{{ url_for('RecipesView:show', id=recipe.id) }}">{{ recipe.name }}</a>
			        </td>
			        <td>
			        	{{ recipe.diet.ratio }}
			        </td>
			        <td>
			        	{{ recipe.author.username }}
			        </td>
			    </tr>
		    {% endfor %}
		    </tbody>
    	</table>
    </div>
{% endblock %}

