{% extends "base.html.j2" %}
{% block title %} dieta: {{ diet.name }} {% endblock %}

{% block content %}
<div class="row">
    <div class="col-8">
        <form action="{{ url_for('DietView:update', id=diet.id) }}" class="form-group" method="post" accept-charset="utf-8">
            {{ form.csrf_token }}
            
            <table class="table">
                <thead>
                    <tr>
                        <th>název</th>
                        <th>energie (kJ)</th>
                        <th>bílkoviny (g)</th>
                        <th>tuky (g)</th>
                        <th>sacharidy (g)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {{ render_field(form.name, has_label=False) }}
                        </td>
                        <td>
                            {{ render_field(form.calorie, has_label=False, disabled=diet.is_used) }}
                        </td>
                        <td>
                            {{ render_field(form.protein, has_label=False, disabled=diet.is_used) }}
                        </td>
                        <td>
                            {{ render_field(form.fat, has_label=False, disabled=diet.is_used) }}
                        </td>
                        <td>
                            {{ render_field(form.sugar, has_label=False, disabled=diet.is_used) }}
                        </td>
                    </tr>
                </table>
                <button type="submit" class="btn btn-warning"> {{ icon("edit") }} uložit </button>
                <a href="{{ url_for('DietView:show', id=diet.id) }}" class="btn btn-secondary"> {{ icon("edit") }} zrušit </a>
            </form>

        </div>
        {% include ('recipes/_recipe_list.html.j2') %}
    </div>
</div>
{% endblock %}