{% extends "base.html.j2" %}
{% block title %}
    {{ texts.diet }}: {{ diet.name }}
{% endblock %}

{% block style %}
    <style type="text/css" media="screen">
        .btn{
            margin-top: 5px;
        }
    </style>
{% endblock %}

{% block script %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-8">
                <table id="ingredients" class="table">
                    <tr>
                        <th>{{ texts.title }}</th>
                        <th>{{ texts.energy.simple }}</th>
                        <th>{{ texts.protein_simple }}</th>
                        <th>{{ texts.fat_simple }}</th>
                        <th>{{ texts.sugar_simple }}</th>
                    </tr>
                    <tr>
                        <td>{{ diet.name }}</td>
                        <td>{{ diet.calorie }}</td>
                        <td>{{ diet.protein }}</td>
                        <td>{{ diet.fat }}</td>
                        <td>{{ diet.sugar }}</td>
                    </tr>
                </table>
                <form action="{{ url_for('DietsView:delete', id=diet.id) }}" method="post" accept-charset="utf-8">
                    <a href="{{ url_for('DietsView:edit', id=diet.id) }}" class="btn btn-warning">{{ texts.edit }} {{ icons.edit }}</a>
                    {% if diet.is_used == False %}
                        <button type="submit" class="btn btn-danger">{{ texts.diet_delete }} {{ icons.delete }}</button>
                    {% else %}
                        <button type="submit" class="btn btn-danger" disabled>{{ texts.delete_error }} {{ icons.delete }}</button>
                    {% endif %}
                </form>
                <form action="{{ url_for('DietsView:archive', id=diet.id) }}" method="post" accept-charset="utf-8">
                    {% if diet.active == True %}
                        <button type="submit" class="btn btn-secondary">{{ texts.archive }} {{ icons.archive }}</button>
                    {% else %}
                        <button type="submit" class="btn btn-secondary">{{ texts.unarchive }} {{ icons.unarchive }}</button>
                    {% endif %}
                </form>
            </div>  
        {# <div class="loader"></div>  #}
            {% include ('recipes/_recipe_list.html.j2') %}
        </div>  
    </div> 
{% endblock %}

