{% extends "mails/base_mail.html.j2" %}
{% block content %}
Dobrý den, <br>
<p>
všiml jsem si, že jste si nedávno 	
založil{% if gender == "f" %}a{%endif%} účet v mojí aplikaci Ketokalkulačka (<a href="https://www.ketokalkulacka.cz">www.ketokalkulacka.cz</a>), ale ještě jste nevytvořil{% if gender == "f" %}a{%endif%} žádnou dietu, což je první krok k používání. <br>
<p>
Zajímá mě, jestli jste narazil{% if gender == "f" %}a{%endif%} na nějaké potíže, či jaký je důvod nepoužívání kalkulačky.<br>
<p>
Moc mi svou odpovědí pomůžete, a pokud Vám mohu nějak pomoci s používáním, tak se na mě neváhejte obrátit.<br>
<p>
S pozdravem<br>
Jan Peterka<br>
<i>tvůrce kalkulačky</i>
{% endblock %}