{% extends "base.tpl" %}
{% block title %}
    {{ texts.diet }}: {{ diet.name }}
{% endblock %}

{% block style %}
    <style type="text/css" media="screen">
            .btn{
                margin-top: 5px;
            }
/*
            .loader {
                display: none;
                border: 16px solid var(--color_loader_outer);
                border-top: 16px solid var(--color_loader_inner);
                border-radius: 50%;
                width: 300px;
                height: 300px;
                animation: spin 2s linear infinite;
                margin: 80px auto;
            }

            @keyframes spin {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
            }      
*/
        </style>
{% endblock %}

{% block script %}
{# 	<script type="text/javascript">
            // $(document).on("click", ".export__button", function() {
            //     $('.row').hide();
            //     $('.loader').show();
            // });
    </script> #}
{% endblock %}

{% block content %}
    {% include('navbar.tpl') %}
    <div class="container">
        <div class="row">
             

{#                 <form action="/diet={{ diet.id }}/export" class="form-inline" method="post">
                    {% if recipes|length > 0 %}
                        <!-- <input type="submit" class="btn btn-default export__button" value="Exportovat recepty do diety"> -->
                        <select name="diet" class="form-control">
                        {% for diet in diets %}
                            <option value="{{ diet.id }}">{{ diet.name }}</option>
                        {% endfor %}
                        </select>
                    {% endif %}
                </form> #}

            <div class="col-8">
                <table id="ingredients" class="table data__table">
                    <tr>
                        <th>{{ texts.title }}</th>
                        <th>{{ texts.energy_simple }}</th>
                        <th>{{ texts.protein_simple }}</th>
                        <th>{{ texts.fat_simple }}</th>
                        <th>{{ texts.sugar_simple }}</th>
                    </tr>
                    <tr>
                        <td>{{ diet.name }}</td>
                        <td>{{ diet.calorie }}</td>
                        <td>{{ diet.protein }}</td>
                        <td>{{ diet.fat }}</td>
                        <td>{{ diet.sugar }}</td>
                    </tr>
                </table>

                <table class="table data__table">
                    <tr>
                        <th>{{ texts.meal_size }}</th>
                        <th>{{ texts.meal_portion }}</th>
                    </tr>
                    <tr>
                        <td>{{ texts.meal_size_big }}</td>
                        <td>{{ diet.big_size }} %</td>
                    </tr>
                    <tr>
                        <td>{{ texts.meal_size_small }}</td>
                        <td>{{ diet.small_size }} %</td>
                    </tr>
                </table>
                <form action="/diet={{ diet.id }}/remove" method="post" accept-charset="utf-8">
                    <a href="/diet={{ diet.id }}/edit" class="btn btn-warning">{{ texts.edit }} {{ icons.edit }}</a>
                    {% if diet.is_used == False %}
                        <button type="submit" class="btn btn-danger">{{ texts.diet_delete }} {{ icons.delete }}</button>
                    {% else %}
                        <button type="submit" class="btn btn-danger" disabled>{{ texts.delete_error }} {{ icons.delete }}</button>
                    {% endif %}
                    <a class="btn btn-secondary" href="/diet={{diet.id}}/print" target="_blank" rel="noopener noreferrer">{{ texts.print }} {{ icons.print }}</a>
                </form>
                <form action="/diet={{ diet.id }}/archive" method="post" accept-charset="utf-8">
                    {% if diet.active == True %}
                        <button type="submit" class="btn btn-secondary">{{ texts.archive }} {{ icons.archive }}</button>
                    {% else %}
                        <button type="submit" class="btn btn-secondary">{{ texts.unarchive }} {{ icons.unarchive }}</button>
                    {% endif %}
                </form>
            </div>  
        {# <div class="loader"></div>  #}
            {% include ('recipe/_recipe_list.html.j2') %}
        </div>  
    </div> 
{% endblock %}

