{% extends "base.html.j2" %}
{% block title %}
    admin | dashboard
{% endblock %}
{% block head %}
    {{ super() }}
    ## {{ init_charts }}
{% endblock %}

{% block content %}
    <div class="admin-field">
        <h3>Za posledních {{ days }} dní přibylo</h3>

        ## <h2>requests</h2>
        ## {{ charts["activity"]() }}
        ## <h2>users</h2>
        ## {{ charts["users"]() }}
        ## <h3>new</h3>
        ## {{ charts["new"]() }}
    </div>
{% endblock %}

