{% extends "base.html.j2" %}
{% block title %}
    admin | dashboard
{% endblock %}

{% block content %}
    <div class="container admin-field">
        <h3>Za posledních {{ days }} dní přibylo</h3>
        <ul>
            <li><span class="font-weight-bold">{{ new_users | length }}</span> nových uživatelů</li>
            <li><span class="font-weight-bold">{{ new_recipes | length }}</span> nových receptů</li>
            <li><span class="font-weight-bold">{{ share_recipe_toggles | length }}</span> nových přepnutí sdílení</li>
            <li><span class="font-weight-bold">{{ daily_plans | length }}</span> denních plánů</li>
            <li><span class="font-weight-bold">{{ new_ingredients | length }}</span> nových surovin</li>
            <li><span class="font-weight-bold">{{ new_images | length }}</span> nových obrázků</li>
        </ul>
    </div>
{% endblock %}

