<div class="data-source-aknowledgement">
    Zdroje některých sdílených surovin:
    <ul>
        <li>
        Na základě dat z NutriDatabaze.cz, verze 7.16, ÚZEI, Praha, www.nutridatabaze.cz/.
        </li>
    </ul>
</div>