{% extends "base.html.j2" %}
{% block title %}
    {{ texts.ingredient_all }}	
{% endblock %}

{% block style %}{% endblock %}

{% block script %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-12">
            <h1>Moje suroviny</h1>
            <table id="ingredients" class="table">
                <tr>
                    <th>{{ texts.title }}</th>
                    <th>{{ texts.energy_100 }}</th>
                    <th>{{ texts.protein_100 }}</th>
                    <th>{{ texts.fat_100 }}</th>       
                    <th>{{ texts.sugar_100 }}</th>
                </tr>
                {% for ingredient in ingredients: %}
                    <tr>
                        <td><a href="{{ url_for('IngredientsView:show', id=ingredient.id) }}">{{ ingredient.name }}</a></td>
                        <td>{{ ingredient.calorie }}</td>
                        <td>{{ ingredient.protein }}</td>
                        <td>{{ ingredient.fat }}</td>
                        <td>{{ ingredient.sugar }}</td>
                    </tr>
                {% endfor %}
            </table>
            <a href="{{ url_for('IngredientsView:new') }}"><button class="btn btn-secondary" style="margin-left: 5px">{{ texts.ingredient_add }}</button></a>

            <h1>Sdílené suroviny</h1>
            <table id="shared_ingredients" class="table">
                <tr>
                    <th>{{ texts.title }}</th>
                    <th>{{ texts.energy_100 }}</th>
                    <th>{{ texts.protein_100 }}</th>
                    <th>{{ texts.fat_100 }}</th>       
                    <th>{{ texts.sugar_100 }}</th>
                </tr>
                {% for ingredient in shared_ingredients: %}
                    <tr>
                        <td><a href="{{ url_for('IngredientsView:show', id=ingredient.id) }}">{{ ingredient.name }}</a></td>
                        <td>{{ ingredient.calorie }}</td>
                        <td>{{ ingredient.protein }}</td>
                        <td>{{ ingredient.fat }}</td>
                        <td>{{ ingredient.sugar }}</td>
                    </tr>
                {% endfor %}
            </table>

            <a href="{{ url_for('IngredientsView:new_shared') }}"><button class="btn btn-secondary" style="margin-left: 5px">{{ texts.ingredient_add_shared }}</button></a>

        </div> 
    </div>
{% endblock %}

