{% extends "base.html.j2" %}
{% block title %}
    {{ texts.ingredient_all_shared }}	
{% endblock %}

{% block style %}{% endblock %}

{% block script %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-12">
            {% if current_user.is_admin %}
                <h1>Sdílené suroviny ke schválení ({{ unapproved_ingredients|length }})</h1>
                <table id="unapproved_ingredients" class="table">
                <tr>
                    <th>{{ texts.title }}</th>
                    <th>{{ texts.energy_100 }}</th>
                    <th>{{ texts.protein_100 }}</th>
                    <th>{{ texts.fat_100 }}</th>       
                    <th>{{ texts.sugar_100 }}</th>
                    <th>Schválit</th>
                </tr>
                {% for ingredient in unapproved_ingredients: %}
                    <tr>
                        <td><a href="{{ url_for('IngredientsView:show', id=ingredient.id) }}">{{ ingredient.name }}</a></td>
                        <td>{{ ingredient.calorie }}</td>
                        <td>{{ ingredient.protein }}</td>
                        <td>{{ ingredient.fat }}</td>
                        <td>{{ ingredient.sugar }}</td>
                        <td>
                            <a href="{{ url_for('IngredientsView:approve', id=ingredient.id) }}"><i class="approve fa fa-check"></i></a>

                            <a href="{{ url_for('IngredientsView:disapprove', id=ingredient.id) }}"><i class="disapprove fa fa-times"></i></a>


                        </td>
                    </tr>
                {% endfor %}
                </table>
            {% endif %}

            <h1>Sdílené suroviny
            <a href="{{ url_for('IngredientsView:new_shared') }}"><button class="btn btn-secondary float-right">{{ texts.ingredient_add_shared }}</button></a>
            </h1>
            <table id="shared_ingredients" class="table">
                <tr>
                    <th>{{ texts.title }}</th>
                    <th>{{ texts.energy_100 }}</th>
                    <th>{{ texts.protein_100 }}</th>
                    <th>{{ texts.fat_100 }}</th>       
                    <th>{{ texts.sugar_100 }}</th>
                </tr>
                {% for ingredient in shared_ingredients: %}
                    <tr>
                        <td><a href="{{ url_for('IngredientsView:show', id=ingredient.id) }}">{{ ingredient.name }}</a></td>
                        <td>{{ ingredient.calorie }}</td>
                        <td>{{ ingredient.protein }}</td>
                        <td>{{ ingredient.fat }}</td>
                        <td>{{ ingredient.sugar }}</td>
                    </tr>
                {% endfor %}
            </table>


        </div> 
    </div>
{% endblock %}

