{% extends "base.html.j2" %}
{% block title %} sdílené suroviny {% endblock %}

{% block content %}
    <div class="container">
        <div class="col-12">
            {% if current_user.is_admin %}
                <h1> sdílené suroviny ke schválení ({{ unapproved_ingredients|length }})</h1>
                <table id="unapproved_ingredients" class="table">
                <tr>
                    <th>{{ texts.title }}</th>
                    <th>{{ texts.energy_100 }}</th>
                    <th>{{ texts.protein_100 }}</th>
                    <th>{{ texts.fat_100 }}</th>       
                    <th>{{ texts.sugar_100 }}</th>
                    <th> schválit </th>
                </tr>
                {% for ingredient in unapproved_ingredients: %}
                    <tr>
                        <td>{{ link_to(ingredient) }}</td>
                        <td>{{ ingredient.calorie }}</td>
                        <td>{{ ingredient.protein }}</td>
                        <td>{{ ingredient.fat }}</td>
                        <td>{{ ingredient.sugar }}</td>
                        <td>
                            {% from "macros/_active_icons.html.j2" import approve_icon, disapprove_icon %}
                            {{ approve_icon(url=url_for('IngredientView:approve', id=ingredient.id)) }}
                            {{ disapprove_icon(url=url_for('IngredientView:disapprove', id=ingredient.id)) }}
                        </td>
                    </tr>
                {% endfor %}
                </table>
            {% endif %}

            <h1>
                sdílené suroviny
                <a class="btn btn-secondary float-right" href="{{ url_for('IngredientView:new_shared') }}"> přidat surovinu </a>
            </h1>
            <table id="shared_ingredients" class="table">
                <tr>
                    <th>{{ texts.title }}</th>
                    <th>{{ texts.energy_100 }}</th>
                    <th>{{ texts.protein_100 }}</th>
                    <th>{{ texts.fat_100 }}</th>       
                    <th>{{ texts.sugar_100 }}</th>
                </tr>
                {% for ingredient in shared_ingredients: %}
                    <tr>
                        <td>{{ link_to(ingredient) }}</td>
                        <td>{{ ingredient.calorie }}</td>
                        <td>{{ ingredient.protein }}</td>
                        <td>{{ ingredient.fat }}</td>
                        <td>{{ ingredient.sugar }}</td>
                    </tr>
                {% endfor %}
            </table>

        </div> 
    </div>
{% endblock %}

