{% extends "base.html.j2" %}
{% block title %} nová surovina {% endblock %}

{% block content %}
<form method="post" action="{{ url_for('IngredientView:post') }}" class="form-group col-6" accept-charset="UTF-8">
    {{ form.csrf_token }}
    {{ render_field(form.name) }}
    {{ render_field(form.protein) }}
    {{ render_field(form.fat) }}
    {{ render_field(form.sugar) }}
    {{ render_field(form.calorie) }}
    {{ render_field(form.submit) }}
</form>
{% endblock %}

