{% extends "base.html.j2" %}
{% block title %}
    {{ texts.ingredient_new }}
{% endblock %}

{% block style %}{% endblock %}

{% block script %}{% endblock %}

{% block content %}
    <div class="container">
        <form method="post" action="{{ url_for('IngredientsView:post') }}" class="form-group col-6" accept-charset="UTF-8">
            {{ form.csrf_token }}
            {% from "_form_element.html.j2" import render_field %}
            {{ render_field(form.name, "form-control") }}
            {{ render_field(form.protein, "form-control") }}
            {{ render_field(form.fat, "form-control") }}
            {{ render_field(form.sugar, "form-control") }}
            {{ render_field(form.calorie, "form-control") }}
            {{ render_field(form.submit, class="btn btn-primary", label=False) }}
        </form>
    </div>
{% endblock %}

