<script type="text/javascript">
	application.register("recipe-reactions", class extends Stimulus.Controller {
	
	static get targets() {
		return ["recipes"]
	}

	connect() {
		this.public = (this.recipesTarget.dataset.public == "True") ? true : false
		this.add_reaction_buttons();
	}

	add_reaction_buttons() {
		for (let i = 0, recipe; recipe = this.recipesTarget.children[i]; i++) {
			this._set_recipe_icon(recipe)
		}
	}

	toggle_reaction(event){
		var recipe = event.target.parentNode.parentNode
		fetch("{{ url_for('RecipesView:toggle_reaction_AJAX') }}",{
			method: 'POST',
			body: JSON.stringify({'recipe_id' : recipe.dataset.recipeId}),
			headers: {'Content-Type': 'application/json,charset=UTF-8'}}
		).then((response) => {
			return response.json(); }
		).then((response) => {
			recipe.dataset.reaction=response
			this._set_recipe_icon(recipe, true)
		});
	}

	_set_recipe_icon(recipe, from_toggle=false){
		var last_cell = recipe.children[recipe.children.length - 1]
		// remove old icon
		if (last_cell.getElementsByTagName('i').length > 0) {
			last_cell.getElementsByTagName('i')[0].remove()
		}


		if (from_toggle == true && recipe.dataset.reaction == "true"){
			last_cell.getElementsByTagName('span')[0].innerHTML++;
		} else if (from_toggle == true && recipe.dataset.reaction == "false") {
			last_cell.getElementsByTagName('span')[0].innerHTML--;
		}

		var icon = ""
		if (recipe.dataset.reaction == "true") {
			icon = this._full_heart_icon(recipe)
		} else {
			icon = this._empty_heart_icon(recipe)
		}

		last_cell.innerHTML = icon.outerHTML + last_cell.innerHTML
	}

	_empty_heart_icon(recipe) {
		var icon = this._heart_icon(recipe)
		icon.classList.add('far')

		return icon
	}

	_full_heart_icon(recipe){
		var icon = this._heart_icon(recipe)
		icon.classList.add('fas')

		return icon
	}

	_heart_icon(recipe){
		var icon = document.createElement("i")
		icon.className = "fa-heart color-red"
		icon.dataset.recipeId = recipe.dataset.recipeId
		if (this.public) {
			icon.style.cursor = "not-allowed"
		} else {
			icon.dataset.action = 'click->recipe-reactions#toggle_reaction'
		}

		return icon
	}

});
</script>
