<script type="text/javascript">
application.register("daily-plan", class extends Stimulus.Controller {
	static get targets() {
		return ["percentage"]
	}

	connect() {}

	set_amount(event){
	    var percentage = 100;

        if (event != undefined){
          event.preventDefault();
          var target = event.target
          if ("percentage" in target.dataset){
          	percentage = target.dataset.percentage;
          	this.percentageTarget.value = percentage
          }
        }
	}

});
</script>