<script type="text/javascript">
application.register("daily-plan", class extends Stimulus.Controller {
	static get targets() {
		return ["percentage"]
	}

	connect() {}

	set_amount(event){
	    var percentage = 100;

        if (event != undefined){
          event.preventDefault();
          var target = event.target
          if ("percentage" in target.dataset){
          	percentage = target.dataset.percentage;
          	this.percentageTarget.value = percentage
          }
        }
	}

  edit_amount(event){
    event.preventDefault();
    $(event.target.parentNode.parentNode.parentNode.querySelector('[data-field="amount"]')).hide()
    $(event.target.parentNode.parentNode.parentNode.querySelector('[data-field="amount_input"]')).show()

    $(event.target.parentNode.parentNode.parentNode.querySelector('[data-field="edit_amount_icon"]')).hide()
    $(event.target.parentNode.parentNode.parentNode.querySelector('[data-field="edit_amount_save_icon"]')).show()

  }

  edit_amount_save(event){
    console.log(event.target.parentNode.parentNode.parentNode.querySelector('[data-field="amount"]').innerHTML)

    var new_amount = event.target.parentNode.parentNode.parentNode.querySelector('[data-field="amount"]').innerHTML;
    // $(event.target.parentNode.parentNode.parentNode.querySelector('[data-field="amount"]'))
    // TODO: call AJAX
    // refresh whole page?

  }

});
</script>