<script type="text/javascript">
    application.register("show-recipe", class extends Stimulus.Controller {
      static targets = [ "percentage", "ingredientTable", "totals"]
      static values = { dietRatio: Number }

      connect() {
        // tohle je složitý kód, co napojí controller na prvek, a pak jde odtamtud rovnou volat
      	this.percentageTarget[
          (str => {
            return str
              .split('--')
              .slice(-1)[0]
              .split(/[-_]/)
              .map(w => w.replace(/./, m => m.toUpperCase()))
              .join('')
              .replace(/^\w/, c => c.toLowerCase())
          })(this.identifier)
        ] = this

      }

      calculate_recipe(coeficient){
        var selected_ingredients = this._get_currently_selected()

        var totals = {
          "sugar": 0,
          "protein": 0,
          "fat": 0,
          "calorie": 0,
          "amount": 0
        }

        for (let i = 0, ingredient; ingredient = selected_ingredients[i]; i++) {
            ingredient["amount"] = this._amount(ingredient["amount"]) * coeficient
            this._ingredient_to_row(ingredient, this.ingredientTableTarget);

            totals["sugar"] += ingredient["sugar"] * ingredient["amount"]
            totals["protein"] += ingredient["protein"] * ingredient["amount"]
            totals["fat"] += ingredient["fat"] * ingredient["amount"]
            totals["calorie"] += ingredient["calorie"] * ingredient["amount"]
            totals["amount"] += ingredient["amount"] * 100
        }

        totals["ratio"] = totals["fat"] / (totals["sugar"] + totals["protein"])

        this._set_totals(totals)
      }

      _float_to_fixed(data){
      	return parseFloat(data).toFixed(2)
      }

      _amount(amount){
      	return (amount / 100);
      }

      _get_currently_selected(){
        return this._get_ingredients_from_table(this.ingredientTableTarget)
      }

      _get_ingredients_from_table(table){
        var ingredients = [];

        for (let i = 1, row; row = table.rows[i]; i++) {
          if ("id" in row.dataset){
            let ingredient = this._row_to_ingredient(row)
            ingredients.push(ingredient);
          }

        }
        return ingredients;
      }

      _row_to_ingredient(row){
        var ingredient = {}
        ingredient['id'] = row.dataset.id
        ingredient['name'] = row.dataset.name
        ingredient['calorie'] = row.dataset.calorie
        ingredient['fat'] = row.dataset.fat
        ingredient['protein'] = row.dataset.protein
        ingredient['sugar'] = row.dataset.sugar
        ingredient['amount'] = row.dataset.amount

        return ingredient
      }

      _ingredient_to_row(ingredient, table){
        var row = table.querySelectorAll(`[data-id='` + ingredient.id + `']`)[0]

        var fields = ["calorie", "protein", "fat", "sugar", "amount"]

        for (let i = 0, field; field = fields[i]; i++) {
          row.querySelectorAll('[data-type='+ field + ']')[0].innerHTML = this._float_to_fixed(ingredient[field] * ingredient["amount"])
        }

        row.querySelectorAll(`[data-type='amount']`)[0].innerHTML = this._float_to_fixed(ingredient["amount"] * 100) 
      }

      _set_totals(totals){
        var fields = ["calorie", "protein", "fat", "sugar", "amount"]
        for (let i = 0, field; field = fields[i]; i++) {
          this.totalsTarget.querySelector('[data-field=' + field + ']').innerHTML = this._float_to_fixed(totals[field]) 
        }

        this.totalsTarget.querySelector('[data-field="ratio"]').innerHTML = "<em>" + this._float_to_fixed(totals["ratio"]) + " : 1 </em>" 
      }

  });
</script>
