{% macro stimulus() %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/platform/1.3.5/platform.min.js"></script>
<script type="text/javascript">
	if (platform.name == "IE"){window.location.replace("https:ketokalkulacka.cz/support/unsupported_browser");}
</script>

<script type="module">

import { Application, Controller } from "https://unpkg.com/@hotwired/stimulus/dist/stimulus.js"
window.Stimulus = Application.start()

{% if config["APP_STATE"]=="development" %}
	window.Stimulus.debug = true
{% endif %}


{% include 'javascript/_daily_plan_controller.js' %}
{% include 'javascript/_load_recipes_for_diet_controller.js' %}
{% include 'javascript/_password_visibility_controller.js' %}
{% include 'javascript/_new_recipe_controller.js' %}
{% include 'javascript/_recipe_percentage_controller.js' %}
{% include 'javascript/_recipe_reactions_controller.js' %}
{% include 'javascript/_show_info_controller.js' %}
{% include 'javascript/_show_recipe_controller.js' %}
{% include 'javascript/_simple_calculator_controller.js' %}

</script>

{% endmacro %}