{% extends "mails/base_mail.html.j2" %}

{% block content %}
    <div class="container">
    	Vypadá to, že jste požádali o zaslání nového hesla. <br>
    	Pokud to tak opravdu je, můžete heslo změnit na <a href="ketocalc.jpeterka.cz/new_password/{{ token }}">tomto odkaze:</a><br>
		<br>
    	V opačném případě mě kontaktujte na <a href="mailto:ketocalc.jmp@gmail.com">tomto emailu</a>.
    </div>
{% endblock %}



