{% macro admin_field_class() %}

	{% set with_errors = kwargs.pop('in_class', False) %}
	{% set object = kwargs.pop('obj', None) %}

	{% if current_user.is_admin and object.author != current_user %}
		{% if in_class %}
			"admin-field"
		{% else %}
			class="admin-field"
		{% endif %}
	{% endif %}

{% endmacro %}