{% macro pagination(pagination, view_page) %}

        <div class="text-center">
        	<!-- first page -->
		    {% if pagination.pages > 0 %}
				<a href="{{ url_for(view_page, page=1) }}" class="mr-1"> << </a>
			{% endif %}
    	    <!-- previous page -->
		    {% if pagination.has_prev %}
				<a href="{{ url_for(view_page, page=pagination.prev_num) }}" class="mr-1">Předchozí</a>
			{% endif %}
			<!-- all page numbers -->
			{% for page_num in pagination.iter_pages() %}
			    {% if page_num %}
			        {% if page_num != pagination.page %}
		                <a href="{{ url_for(view_page, page=page_num) }}" class="mr-1">{{ page_num }}</a>
			        {% else %}
		                <a href="#" class="font-weight-bold mr-1">{{ page_num }}</a>
			        {% endif %}
			   {% else %}
			           <span class="ellipsis" style="white-space; nowrap; overflow: hidden; text-overflow: ellipsis">…</span>
			   {% endif %}
			{% endfor %}
			<!-- next page -->
			{% if pagination.has_next %}
				<a href="{{ url_for(view_page, page=pagination.next_num) }}" class="mr-1">Další</a>
			{% endif %}
			<!-- last page -->
		    {% if pagination.pages > 0 %}
				<a href="{{ url_for(view_page, page=pagination.pages) }}" class="mr-1"> >> </a>
			{% endif %}
        </div>

{% endmacro %}