<div class="col">
    <label for="recipes"><h3>{{ texts.recipe_list }}</h3></label>
    <ul name="recipes">
        {% for recipe in recipes %}
            <li><a href='/recipe={{ recipe.id }}'>{{ recipe.name }}</a></li>
        {% endfor %}
    </ul>
</div>
