<tr data-id="{{ ingredient.id }}"> 
    <td>{{ ingredient.name }}</td> 
    <td>{{ ingredient.calorie }}</td> 
    <td>{{ ingredient.protein }}</td> 
    <td>{{ ingredient.fat }}</td>
    <td>{{ ingredient.sugar }}</td>
    <td> 
        <span data-action="click->new-recipe#toggle_fixed_ingredient" data-id="{{ ingredient.id }}">
            {{ icons.ingredient_fixed }}
        </span> 
        <span data-action="click->new-recipe#set_main_ingredient" data-id="{{ ingredient.id }}">
            {{ icons.ingredient_main }}
        </span> 
        <span data-action="click->new-recipe#remove_ingredient" data-id="{{ ingredient.id }}">
            {{ icons.ingredient_remove }} 
        </span>
    </td>
</tr>