<div name="newrecipe">
	<h2> Jak funguje nový recept? </h2>
	<ol>
		<li class="font-weight-bold" >Přidejte surovinu, ze kterých chcete mít recept </li>
		<p>
			V tuto chvíli umí kalkulačka počítat se čtyřmi "dynamickými" surovinami.<br>

		<p>	
			Pokud chcete používat více, můžete zadat <span class="tr-fixedIngredient">fixní suroviny</span> <i class="fa fa-thumbtack"></i>.<br>
			Těm před zahájením výpočtu zadáte pevně množství. <br>

			Pokud počítáte se čtyřmi dynamickými surovinami, můžete vybrat jednu <span class="tr-mainIngredient">hlavní</span>.<i class="fa fa-hospital-symbol"></i><br>
			Té budete moct měnit množství, a zbytek se dopočítá s ohledem na ni.

			Surovinu je možné odebrat kliknutím na ikonu <i class="fa fa-times remove"></i>

		<li class="font-weight-bold"> Výsledek výpočtu a ukládání receptu </li>
		<p>
			Při ukládání receptu se množství změní podle velikosti vybraného receptu.
	</ol>
</div>