<div class="font-montserrat mt-5" >
	Zde můžete vyzkoušet funkci počítání receptu.
	<p><p>
	Kalkulačka umí počítat z tří až čtyř dynamických (bez zadaného množství) surovin, další suroviny musí mít předem dané množství.<br>
	Kalkulačka je naplněna ukázovými surovinami - jsou vybírány náhodně z veřejně dostupných surovin, recept tedy nemusí dávat kuchařsky smysl. Slouží pouze pro ukázku funkcionality.<br>

	Můžete se zde vyzkoušet vyrobit recept i z dalších veřejných surovin.<br>
	Pokud chcete začít používat vlastní suroviny a recepty si ukládat, {{ link_to("register", value="zaregistrujte se") }}.

</div>