{% extends "base.html.j2" %}
{% block title %}
    {{ texts.recipe_all }}
{% endblock %}

{% block style %}{% endblock %}

{% block script %}{% endblock %}

{% block content %}
    <div class="container">
        <table id="diets" class="table">

            {% for diet in diets: %}
                <tr><th class='diet'>{{ link_to(diet) }}</th></tr>

                {% for recipe in diet.recipes: %}
                    <tr>
                        <td>{{ link_to(recipe) }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}       

        </table>

        <div>
            <div>
                <a href="{{ url_for('RecipesView:new') }}" target="_blank" class="btn btn-secondary">{{ texts.recipe_new }}</a>
            </div>

            <div style="margin-top: 5px">
                <a href="{{ url_for('RecipesView:make_all_public') }}" class="btn btn-secondary">{{ texts.recipe_share_all }}</a>
            </div>
        </div>
    </div>
{% endblock %}

