{% extends "base.html.j2" %}
{% block title %} {{ recipe.name }} {% endblock %}
    
{% block content %}

<turbo-frame id="recipe-info-{{recipe.id}}">
<form action="{{ url_for('RecipeView:update', id=recipe.id) }}" class="form" method="post" accept-charset="utf-8">
    <div class="row">
        <div class="col">
            <label for="name">název</label>
            <input type="text" name="name" class="form-control" value="{{ recipe.name }}"><br>
        </div>
        <div class="col">
            <label for="description">popis</label>
            <textarea name="description" class="form-control">{{ recipe.description if recipe.description }}</textarea>
        </div>
    </div>
    <input type="submit" value="upravit" class="btn btn-warning">
</form>
</turbo-frame>

<table id="ingredients" class="table">
    <tr>
        <th>název</th>
        <th>energie (kJ)</th>
        <th>bílkoviny (g)</th>
        <th>tuky (g)</th>
        <th>sacharidy (g)</th>
        <th>množství (g)</th>
        <th></th>
    </tr>

    {% for ingredient in recipe.ingredients: %}
        <tr>
            <td>{{ link_to(ingredient) }}</td>
            <td>{{ (ingredient.calorie / 100 * ingredient.amount)|round(2,'common') }}</td>
            <td>{{ (ingredient.protein / 100 * ingredient.amount)|round(2,'common') }}</td>
            <td>{{ (ingredient.fat / 100 * ingredient.amount)|round(2,'common') }}</td>
            <td>{{ (ingredient.sugar / 100 * ingredient.amount)|round(2,'common') }}</td>
            <td>{{ ingredient.amount|round(2,'common') }}</td>
            <td></td>
        </tr>
    {% endfor %}

    <tr class="totals">
        <td>Celkem</td>
        <td>{{ recipe.totals.calorie }}</td>
        <td>{{ recipe.totals.protein }}</td>
        <td>{{ recipe.totals.fat }}</td>
        <td>{{ recipe.totals.sugar }}</td>
        <td>{{ recipe.totals.amount|round(2,'common')  }}</td>
        <td>poměr: {{ recipe.totals.ratio }} : 1</td>
    </tr>
</table>

<a href="{{ url_for('RecipeView:show', id=recipe.id) }}" class="btn btn-secondary"> zrušit úpravy {{ icon("edit") }}</a>

{% endblock %}

