{% extends "base.html.j2" %}
{% block title %}
    {{ texts.recipe_new }}
{% endblock %}

{% block script %}
    <!-- Bootstrap alert, prompt -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

    <!-- Google Charts -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <!-- Bootstrap slider -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.2/css/bootstrap-slider.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.2/bootstrap-slider.min.js"></script>

    <!-- Select 2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    {{ stimulus("new-recipe", "show-info") }}
{% endblock %}

{% block content %}
    <div class="container-fluid ml-5" data-controller="new-recipe show-info">
        <div class="row">
            <div class="hidden">
                <select data-new-recipe-target="baseSelect">
                    {% for ingredient in ingredients: %}
                        <option name="{{ ingredient.name }}" value="{{ ingredient.id }}">{{ ingredient.name }}</option>
                    {% endfor %}
                </select>
                <input type="hidden" data-new-recipe-target="presetIngredientIds" value="{{ preset_ingredients|safe }}">
            </div>

            <div class="col-lg-6 col-md-12" >
                <div class="col-12">
                    <form class="form-inline" data-action="submit->new-recipe#add_ingredient">
                        <select class="form-control" id="ingredient_select" data-new-recipe-target="select">
                        {% for ingredient in ingredients: %}
                            <option name='{{ ingredient.name }}' value="{{ ingredient.id }}">{{ ingredient.name }}</option>
                        {% endfor %}
                        </select>

                        <input type="submit" class="btn btn-primary" value="Přidat surovinu" />
                        <i data-show-info-target="icon"></i>
                    </form>
                </div>

                <div class="col-11">
                    <table class="table">
                        <thead>
                            <th>{{ texts.title }}</th>
                            <th>{{ texts.energy_100 }}</th>
                            <th>{{ texts.protein_100 }}</th>
                            <th>{{ texts.fat_100 }}</th>
                            <th>{{ texts.sugar_100}}</th>
                            <th></th>
                        </thead>

                        <tbody data-new-recipe-target="ingredientTable">
                        </tbody>
                    </table>
                </div>

                <div class="col-12">
                    <form class="form-inline" data-action="submit->new-recipe#calculate_recipe">
                        <label >{{ texts.diet_name }}</label>
                        <select class="form-control" data-new-recipe-target="selectDiet">
                        {% for diet in diets: %}
                            <option value="{{ diet.id }}">{{ diet.name }}</option>
                        {% endfor %}
                        </select>
                        <input type="submit" class="btn btn-primary"  value="{{ texts.calc_amount }}" />
                    </form>

                    {% if is_trialrecipe %}
                        {% include 'recipes/_trial_recipe_info.html.j2' %}
                    {% endif %}
                    {% include 'ingredients/_data_source_aknowledgement.html.j2' %}
                </div>
            </div>

            
            <div class="col-lg-6 col-md-12">
                <div data-show-info-target="info">
                    {% include "recipes/_new_recipe_info.html.j2" %}
                </div>

                <div class="loader_circular" data-new-recipe-target="loader"></div>

                <div class="text-center color-red" data-new-recipe-target="wrongRecipe">
                    <span>{{ texts.recipe_impossible }}</span>
                </div>

                <div data-new-recipe-target="recipe"></div>
            </div>
        </div>
    </div>
{% endblock %}

<script type="text/javascript">
  $(document).ready(function() {
    $('#ingredient_select').select2();
  });

  function trialSaveConfirm(){
      var r = confirm("Pokud si chcete recept uložit, musíte se zaregistrovat")
      if (r == true){
          window.open('{{ url_for("RegisterView:show") }}');
      }
      return true;
  }
</script>

