{% extends "base.html.j2" %}
{% block title %} tisknout recepty {% endblock %}

{% block style %}
    <style type="text/css" media="screen">
		.totals {
			background-color: var(--bgcolor-totals);
		}      

		@media print {
			body {
                -webkit-print-color-adjust: exact;
            }
			.totals {
				background-color: var(--bgcolor-totals);
			}
		}
    </style>
{% endblock %}

{% block content %}
    <div class="col-12 d-print-flex">
        {% for recipe in recipes: %}
            <h2>{{ recipe.name }}</h2>
            <table id="ingredients" class="table">
                <tr>
                    <th><strong>{{ texts.title }}</strong></th>
                    <th><strong>{{ texts.protein_simple }}</strong></th>
                    <th><strong>{{ texts.fat_simple }}</strong></th>
                    <th><strong>{{ texts.sugar_simple }}</strong></th>
                    <th><strong>{{ texts.amount_simple }}</strong></th>
                    <th></th>
                </tr>


                {% for ingredient in recipe.ingredients: %}
                    <tr>
                        <td><strong>{{ ingredient.name }}</strong></td>
                        <td>{{ ingredient.protein|round(2,'common') }}</td>
                        <td>{{ ingredient.fat|round(2,'common') }}</td>
                        <td>{{ ingredient.sugar|round(2,'common') }}</td>
                        <td>{{ ingredient.amount|round(2,'common') }}</td>
                        <td></td>
                    </tr>
                {% endfor %}

                <tr class="totals">
                    <td><strong>{{ texts.total }}</strong></td>
                    <td>{{ recipe.totals.protein|round(2,'common') }}</td>
                    <td>{{ recipe.totals.fat|round(2,'common') }}</td>
                    <td>{{ recipe.totals.sugar|round(2,'common') }}</td>
                    <td>{{ recipe.totals.amount|round(2,'common') }}</td>
                    <td>{{ recipe.totals.ratio }} : 1</td>
                </tr>

            </table>
        {% endfor %}
    </div>
{% endblock %}

