{% extends "base.html.j2" %}
{% block title %}
    {% if not is_print %}
        {{ texts.recipe}}
    {% else %}
        {{ texts.recipe_print}} - {{ recipe.name }}
    {% endif %}
{% endblock %}
    
{% block style %}
    {% if is_print %}
        <style type="text/css" media="screen">
            @media print {
                body {-webkit-print-color-adjust: exact;}
            } 
        </style>
    {% endif %}
{% endblock %}

{% block navbar %}
    {% if not is_print %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-12">
            {% if not is_print %}
                <span class="data__table">
            {% else %}
                <span class="data__table d-print-table">
            {% endif %}

                <h2>{{ recipe.name }}</h2>

            {% if recipe.type == "small" %}
                <h5>{{ recipe.diet.name }} | {{ texts.meal_size_small }} ({{ recipe.diet.small_size }}%)</h5> 
            {% elif recipe.type == "big" %}
                <h5>{{ recipe.diet.name }} | {{ texts.meal_size_big }} ({{ recipe.diet.big_size }}%)</h5>
            {% elif recipe.type == "full" %}
                <h5>{{ recipe.diet.name }}</h5>
            {% endif %}

                 </span>

            {% if current_user.is_admin %}
                <div class="admin-field">
                    Autor: <a href="{{ url_for('UsersView:show_by_id', id=recipe.author.id) }}">{{ recipe.author.username }}</a>
                    Recipe views: {{ recipe.view_count }}
                </div>
            {% endif %}

            <table id="ingredients" class="table">
                <tr>
                    <th>{{ texts.title }}</th>
                    <th>{{ texts.energy_simple }}</th>
                    <th>{{ texts.protein_simple }}</th>
                    <th>{{ texts.fat_simple }}</th>
                    <th>{{ texts.sugar_simple }}</th>
                    <th>{{ texts.amount_simple }}</th>
                    <th></th>
                </tr>

                {% for ingredient in recipe.ingredients: %}
                    <tr>
                        <td><a href="{{ url_for('IngredientsView:show', id=ingredient.id) }}">{{ ingredient.name }}</a></td>
                        <td>{{ (ingredient.calorie / 100 * ingredient.amount)|round(2,'common') }}</td>
                        <td>{{ (ingredient.protein / 100 * ingredient.amount)|round(2,'common') }}</td>
                        <td>{{ (ingredient.fat / 100 * ingredient.amount)|round(2,'common') }}</td>
                        <td>{{ (ingredient.sugar / 100 * ingredient.amount)|round(2,'common') }}</td>
                        <td>{{ ingredient.amount|round(2,'common') }}</td>
                        <td></td>
                    </tr>
                {% endfor %}

                <tr class="totals">
                    <td>Celkem</td>
                    <td>{{ totals.calorie }}</td>
                    <td>{{ totals.protein }}</td>
                    <td>{{ totals.fat }}</td>
                    <td>{{ totals.sugar }}</td>
                    <td>{{ totals.amount|round(2,'common')  }}</td>
                    <td>Poměr: {{ totals.ratio }} : 1</td>
                </tr>
            </table>

            {% if not is_print %}
            <div class="row">
                <form action="{{ url_for('RecipesView:delete', id=recipe.id) }}" method="post" class="form col-5"  accept-charset="utf-8" onsubmit="return confirm('{{ texts.recipe_delete_confirm }}');">
                    <a class="btn btn-warning" href="{{ url_for('RecipesView:edit', id=recipe.id) }}">{{ texts.edit }} {{ icons.edit }}</a>
                    <a class="btn btn-secondary" href="{{ url_for('RecipesView:print', id=recipe.id) }}" target="_blank" rel="noopener noreferrer">{{ texts.print }} {{ icons.print }}</a>
                    <button type="submit" class="btn btn-danger">{{ texts.recipe_delete}} {{ icons.delete }}</button>
                </form>

                {# <span class="col-2"></span> #}

{# 				<form action="/recipe={{recipe.id}}/export" class="form-inline col-5" method="post" accept-charset="utf-8">
                    <input type="submit" class="btn btn-secondary" value="Exportovat recept do diety" />
                    <select name="diet" class="form-control">
                            {% for diet in diets %}
                                <option value="{{ diet.id }}">{{ diet.name }}</option>
                            {% endfor %}
                    </select>
                </form> #}
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

