{% extends "base.html.j2" %}
{% block title %}
    Denní přehled
{% endblock %}

{% block script %}{% endblock %}

{% block content %}
    <div class="container" data-controller="daily">
        <div data-target="nav" class="text-center">
            <span class="float-left" style="margin-left: 10rem">
                <a href="{{ url_for('DailyPlansView:show', date=dates['previous']) }}">
                {{ human_format_date(dates["previous"]) }}
                </a>
            </span>
            <span style="font-size: 2rem">
                {# {{ human_format_date(dates["active"]) }} #}
                {{ view.something }}
            </span>
            <span class="float-right" style="margin-right: 10rem">
                <a href="{{ url_for('DailyPlansView:show', date=dates['next']) }}">
                {{ human_format_date(dates["next"]) }}
                </a>
            </span>
        </div>

        <div data-target="recipes"></div>
        <div data-target="add">
            <a href="url_for('DailyPlansView:show_add_recipe')"></a>
        </div>
    </div>
{% endblock %}
