<div name="newrecipe" class="font-montserrat">
    <h2 class="mt-2 text-uppercase color-blue font-comfortaa-bb"> Jak funguje tato kalkulačka? </h2>
    <ol>
        <li> Přidejte suroviny </li>
        <li> Nastavte jejich množství </li>
        <li> Zobrazí se vám celkové množství jednotlivých složek </li>
        <li> Recept si můžete uložit do své vybrané diety </li>
    </ol>
    <ul>
        <li> Pokud můžete vybírat pouze sdílené suroviny, nejspíš jste se zapomněli přihlásit. </li>
    </ul>
</div>