{% macro render_field(field, class=None, label=True, errors=True) %}

  {% if label %}
    {{ field.label }}
  {% endif %}


  {% if class %}
    {{ field(class_=class, **kwargs) }}
  {% else %}  
    {{ field(**kwargs) }}
  {% endif %}

  {% if errors and field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li class="warning no-list">{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}

{% endmacro %}
