<li class="nav-item dropdown">
	<a class="nav-link dropdown-toggle color-admin" href="#" id="navbarDropdown" role="button"
	 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	admin
	</a>
	
	<div class="dropdown-menu bg-color-admin" aria-labelledby="navbarDropdown">
		<a class="dropdown-item" href="{{ url_for('AdminView:index') }}">Admin dashboard</a>
		<a class="dropdown-item" href="{{ url_for('IngredientView:all_shared') }}">Sdílené suroviny</a>
		<a class="dropdown-item" href="{{ url_for('UserView:show_all') }}">Uživatelé</a>
		<a class="dropdown-item" href="{{ url_for('FileView:index') }}">Files</a>
		{# <div class="dropdown-divider"></div> #}
	</div>
</li>

