<a target="_blank" title="sledujte na facebooku" href="/support/facebook">
	<img alt="follow me on facebook" src="https://c866088.ssl.cf3.rackcdn.com/assets/facebook30x30.png" style="width: 1.5rem; height: auto; margin-top: 0.3rem" border=0>
</a>